<div class="row">
    <div class="col-md-12">
        <img src="./assets/images/Slider_cap.png" class="img-responsive" style="width: 100%;">
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Capacitación</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p>Estamos completamente comprometidos con la mejora continua del servicio, con la gestión interna de varios procesos de negocio que se han aplicado para medir los comentarios de los clientes, evaluar los resultado individuales y analizar los
                    resultados de los exámenes.</p>
                <p>A través de los años, estos modelos regularmente retroalimentan las mejoras en todos los procesos, e incluyen la impartición de cursos y el desarrollo personal de los consultores.</p>
            </div>
            <div class="col-md-6">
                <p>En ADEMIA nos preocupamos por desarrollar habilidades de comunicación fuertes en el instructor, así como de promover que su práctica docente facilite la trasferencia de conocimiento a los participantes, con lo cual se logra contar con cursos y
                    talleres productivos y eficientes.</p>
                <ol>
                    <li>Lean Manufacturing</li>
                    <li>Six Sigma</li>
                    <li>Planeación Estratégica</li>
                    <li>ISO 9001:2015</li>
                    <li>OEA</li>
                </ol>
            </div>
        </div>
    </div>
</div>
