<div class="row">
    <div class="col-md-12">
        <img src="./assets/images/Slider_casos.png" class="img-responsive" style="width: 100%;">
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Nuestra experiencia habla por nosotros</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p>Creemos que nuestro vendedor número uno siempre debe ser nuestros resultados, y que para considerar un proyecto exitoso la experiencia de nuestros clientes es la principal variable.</p>
            </div>
            <div class="col-md-6">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/OaAJzTo1C8Q?autoplay=1" allowfullscreen=""></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
