<div class="row">
    <div class="col-md-12">
        <img src="./assets/images/Slider_cont.png" class="img-responsive" style="width: 100%;">
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Cuéntanos tu proyecto</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <p>Ponemos a tu disposición nuestro formulario de contacto así como nuestro teléfono y correo electrónico para que te comuniques con nosotros para cualquier duda o cotización.</p>
                <p>Te invitamos también a seguirnos en nuestras redes sociales para saber más sobre nosotros.</p>
            </div>
            <div class="col-md-4">
                <form role="form">
                    <div class="form-group">
                        <label class="control-label">Nombre *</label>
                        <input class="form-control" type="text">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Email *</label>
                        <input class="form-control" type="email">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Teléfono *</label>
                        <input class="form-control" type="text">
                    </div>
                    <div class="form-group">
                        <label class="control-label">¿Cómo te podemos ayudar? *</label>
                        <textarea rows="4" cols="50" class="form-control"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </form>
            </div>
            <div class="col-md-4">
                <ol class="list-group">
                    <li class="list-group-item">
                        <i class="fa fa-3x fa-fw fa-phone pull-left text-muted"></i>
                        <p>Ciudad De México</p>
                        <p>+52 405 4765</p>
                    </li>
                    <li class="list-group-item">
                        <i class="fa fa-3x fa-fw fa-phone pull-left text-muted"></i>
                        <p>Guadalajara</p>
                        <p>+52 405 3363</p>
                    </li>
                    <li class="list-group-item">
                        <i class="fa fa-3x fa-fw fa-phone pull-left text-muted"></i>
                        <p>Monterrey</p>
                        <p>+52 198 7499</p>
                    </li>
                    <li class="list-group-item">
                        <i class="fa fa-3x fa-fw fa-phone pull-left text-muted"></i>
                        <p>Ciudad Juárez</p>
                        <p>+52 382 4319</p>
                    </li>
                    <li class="list-group-item">
                        <i class="fa fa-3x fa-envelope fa-fw pull-left text-muted"></i>
                        <br>contacto@ade-mia.com</li>
                    <li class="list-group-item">
                        <i class="fa fa-3x fa-fw fa-map-marker pull-left text-muted"></i>
                        <p>Oficinas Centrales</p>
                        <p>Av. San Lorenzo 1622 Fracc. Puerta Del Sol 32410</p>
                    </li>
                    <li class="list-group-item">
                        <p>Siguenos</p>
                        <a href="https://www.facebook.com/ademiaIT" target="_blank">
                            <i class="fa fa-3x fa-facebook-official fa-fw text-muted"></i>
                        </a>
                        <a href="https://twitter.com/" target="_blank">
                            <i class="fa fa-3x fa-fw fa-twitter text-muted"></i>
                        </a>
                        <a href="https://plus.google.com/" target="_blank">
                            <i class="fa fa-3x fa-fw fa-google-plus text-muted"></i>
                        </a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
