<div class="row">
    <div class="col-md-12">
        <div uib-carousel active="0" interval="5000" no-transition="false">
            <div uib-slide index="0">
                <img style="width: 100%;" src="./assets/images/Slider1.png">
            </div>
            <div uib-slide index="1">
                <img style="width: 100%;" src="./assets/images/Slider2.png">
            </div>
            <div uib-slide index="2">
                <img style="width: 100%;" src="./assets/images/Slider3.png">
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Global Best Practices in IT Management</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>Recientes investigaciones destacan la importancia y conveniencia de tener instalado un marco de trabajo de decisiones y procesos especiales para
                    <i>IT Governance</i>, en el cual se definan básicamente el modo en que deben tomarse las decisiones de todas las inversiones de TI y la forma de contabilizar el efecto de estas decisiones y de la gestión regular de las inversiones.</p>
                <p>Un estudio del Center for Information Systems Research (CISR), efectuado en un universo de 250 organizaciones, determinó que aquéllas que poseen estructuras más efectivas de IT Governance obtuvieron rentabilidades hasta un 20% superiores a
                    aquellas que tenían estructuras menos maduras.</p>
                <p>En las organizaciones, con el paso del tiempo, la dirección se está dando cuenta del impacto significativo que la información en tiempo puede tener en el éxito de una empresa, lo que deriva en que la dirección espere un alto entendimiento de la
                    manera en que las TI son operadas y de la posibilidad que sea aprovechada con éxito para tener una ventaja competitiva.</p>
            </div>
        </div>
    </div>
</div>
