<br/><br/><br/>
<footer class="section" style="background-color: #003E63;color: white;background-image: url(./assets/images/ademia-transparent.png); background-repeat: repeat-y;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
              <!-- <br/> -->
                <table class="table">
                    <tbody>
                        <tr>
                            <td>
                                <h3>Cd. Juárez, Chih.</h3>
                            </td>
                            <td>
                                <h3>Cd. De México</h3>
                            </td>
                            <td>
                                <h3>Guadalajara</h3>
                            </td>
                            <td>
                                <h3>Monterrey</h3>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Av. San Lorenzo 1622 Fracc. Puerta Del Sol 32410
                                    <br>Tel:&nbsp;+52 382 4319</p>
                            </td>
                            <td>
                                <p>Tel:&nbsp;+52 405 4765</p>
                            </td>
                            <td>
                                <p>Tel:&nbsp;+52 405 3363</p>
                            </td>
                            <td>
                                <p>Tel:&nbsp;+52 198 7499</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</footer>
