<div class="row">
    <div class="col-md-12">
        <img src="./assets/images/Slider_it.png" class="img-responsive" style="width: 100%;">
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>IT Governance</h1>
            </div>
        </div>
        <div class="row">
            <p>En ADEMIA apoyamos la estructura organizacional y directiva de cada cliente a través del acompañamiento de Tecnologías de la Información (TI) en los procesos, que a su vez soporta y facilita el desarrollo de los objetivos estratégicos definidos.</p>
            <p>Cada negocio necesita conocer el estado de sus recursos y procesos, cómo aportan valor y cómo evolucionan. Y para lograr este objetivo, lo hacemos a través de supervisión, estructura y procesos organizacionales que garantizan que la compañía
                sustente las siguientes acciones:</p>
            <div class="col-md-12">
                <ul>
                    <li>Alineación de TI con la estrategia del negocio.</li>
                    <li>Integración e institucionalización de las buenas prácticas.</li>
                    <li>Satisfacer los requerimientos de calidad, fiduciarios y de seguridad.</li>
                    <li>Optimizar recursos y balancear riesgos y oportunidades.</li>
                </ul>
            </div>
            <p>Utilizando el enfoque de las mejores prácticas de IT Governance, como facilitadores le ofrecemos soluciones de principio a fin que les permitirán mejorar la calidad del servicio, reducir la complejidad de TI, reducir el riesgo, disminuir los
                costos de operación, cumplimiento de regulaciones y alinear la TI con el negocio. Tanto en la planeación estratégica de TI como en la evaluación de la madurez, el diseño y la implementación de los procesos de TI, así como la mejora continua
                desarrollando indicadores en tiempo real que nos permita tomar decisiones asertivas.</p>
        </div>
    </div>
</div>
