<div class="row">
    <div class="col-md-12">
        <img src="./assets/images/Slider_it.png" class="img-responsive" style="width: 100%;">
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Modelo de servicios</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p>Nuestras soluciones han surgido del contexto empresarial y responden a los desafíos que actualmente enfrentan las organizaciones. Conocemos y entendemos el entorno cambiante y las exigencias de las áreas de negocio. Nuestras soluciones responden a
                    temas tales como: alineación al negocio, cumplimiento con regulaciones, mayor productividad, justificación de costos, integración con proveedores, clientes y outsourcing, servicios confiables y consistentes. Cada servicio de consultoría tiene el
                    objetivo claro de ofrecer soluciones efectivas, ágiles y flexibles, que respondan a la cultura empresarial, buscando lograr resultados concretos que generen la credibilidad e interés en la adopción de las mejores prácticas.</p>
            </div>
            <div class="col-md-6">
                <div class="container">
                    <div class="row">
                        <p>En nuestro modelo de implementación de IT Governance lo hacemos bajo las siguientes premisas:</p>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <img src="./assets/images/Diagram.png" class="img-responsive">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
