<div class="row">
    <div class="col-md-12">
        <img src="./assets/images/Slider_it.png" class="img-responsive" style="width: 100%;">
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Productos</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <ol>
                    <li>Capacitación y Consultoría en las áreas de Dirección y Administración, Gerenciales y de operación de empresas.</li><br>
                    <li>Capacitación e Implementación de la metodología Lean Manufacturing, Six Sigma y Sistemas de Gestión de Calidad.</li><br>
                    <li>Desarrollo de Software aplicando la metodología IT Governance, enfocándonos en la disminución de riesgos, para propiciar la alineación con el negocio mediante la generación de valor, la mejora de la productividad operativa y la transformación de
                        los esquemas de trabajo.</li><br>
                    <li>Obtención y Administración de la Certificación OEA, ISO 9001:2015.</li><br>
                </ol>
            </div>
            <div class="col-md-6"></div>
        </div>
    </div>
</div>
