<div class="row">
    <div class="col-md-12">
        <img
            src="./assets/images/Slider_it.png"
            class="img-responsive"
            style="width: 100%;">
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Quiénes Somos</h1>
            </div>
        </div>
        <div class="row">
            <p>Somos una empresa en TI, formada por profesionales con más de 10 años de experiencia que disfrutan lo que hacen y creen en su trabajo como herramienta de transformación global, regida bajos tres principios rectores:
            </p>
            <p>
                <ul>
                    <li><b>Uso crítico de la tecnología</b> porque pensar en el usuario implica trabajar en los siguientes variables: Usabilidad, Apropiación y Sostenibilidad.</li>
                    <li><b>Diseño Participativo</b> porque los proyectos se diseñan en base a las necesidades reales de los clientes (internos y externos) y no en base a supuestos de los planificadores.</li>
                    <li><b>Confiabilidad en las buenas prácticas</b> que demuestran que la tecnología no es el objetivo final sino parte de una estrategia integral en el entorno empresarial a nivel global.</li>
                </ul>
            </p>
            <p>Principios que trabajan en conjunto con el IT Governance y Modelos de servicios para permitirnos generar como resultado de nuestra consultoría la creación de soluciones tecnológicas basadas en capacitaciones, certificaciones y desarrollo de
                software liderados por las buenas prácticas que mejoren el quehacer empresarial elevando el desempeño y competitividad de las organizaciones mexicanas en el comercio exterior.</p>
        </div>
    </div>
</div>
