<div class="row">
    <div class="col-md-12">
        <img src="./assets/images/Slider_soft.png" class="img-responsive" style="width: 100%;">
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Software</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>El Sistema Integral de Gestión, permite a las empresas controlar de manera eficiente todos los flujos de las operaciones, controlar las autorizaciones y pagos, digitalización de sus expedientes, controlar los documentos en el servidor y mantener
                    métricas reales mediante un <i>dashboard</i> de la productividad de cada proceso permitiendo tomar decisiones rápidas y efectivas. Además fue diseñado para cumplir con los requisitos de certificación OEA, C-TPAT e ISO 9001:2015.</p>
                <p>Software totalmente actualizado a los requisitos a la norma ISO 9001:2015, C-TPAT y OEA, te permite controlar de forma eficiente las acciones correctivas, administrar los documentos dentro de la organización con las autorizaciones electrónicas
                    previas, enviar encuestas para medir la satisfacción de los clientes, control de proveedores y los nuevos requisitos de análisis de riesgo y planeación estratégica.</p>
                <p>Desarrollado bajo plataforma Web que permite reducir los costos de instalación, servidor y mantenimiento.</p>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="./assets/images/Logo_sig.png" class="img-responsive">
            </div>
            <div class="col-md-6">
                <img src="./assets/images/Logo_portal.png" class="img-responsive">
            </div>
        </div>
    </div>
</div>
